/*** ACCESIBILIDAD ***/

@media (prefers-reduced-motion: reduce) {
    body {
        transition: none;
    }
}

@media (prefers-contrast: more) {
    :root {
        --color-accent: #f0f0f0;
        --color-accent-hover: #f0f0f0;
    }

    [data-theme="light"] {
        --color-accent: #111d3b;
        --color-accent-hover: #111d3b;
    }
}

/*** RESPONSIVE ***/

/** <1400px **/

/* NAVEGACION */

@media screen and (max-width: 1400px) {
    #dropdown ul li {
        text-align: center;
        font-size: larger;
    }

    #dropdown ul li:first-of-type {
        font-size: calc(var(--font-xl) * 1.5);
    }

    #dropdown ul li a {
        font-size: calc(var(--font-xxl) * 1.5);
    }
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
    #dropdown ul li:first-of-type {
        font-size: calc(var(--font-xl));
    }

    #dropdown ul li a {
        font-size: calc(var(--font-xxl));
    }
}

/* SECCION HERO */

@media screen and (max-width: 1400px) {
    #hero-section {
        width: 80%;
        height: auto;
    }
}

/* SECCIONES HABILIDADES */

@media screen and (max-width: 1400px) {
    #skills-wrapper {
        flex-direction: column;
    }

    #skills-wrapper > div {
        width: 80%;
    }

    #skills-wrapper div {
        margin: 4% auto;
    }

    .project-tech img {
        width: 24px;
        height: 24px;
    }
}

/* SECCIONES DE FORMACION Y EXPERIENCIA LABORAL */ 

@media screen and (max-width: 1400px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .exp-icon {
        display: none;
    }

    .experience article div:first-of-type {
        display: none;
    }

    .experience article div:last-of-type {
        width: 100%;
    }
}

/** <1000px **/

/* PROPIEDADES GENERALES */

@media screen and (max-width: 1000px) {
    body {
        width: 100%;
    }

    .wrapper > div, .wrapper section {
        width: 100%;
    }

    .wrapper section {
        border: none;
    }

    .section-title {
        text-align: center;
        width: fit-content;
        margin: auto;
    }

    button {
        padding: 2%;
    }

    .btt-button, .btt-button:hover {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 2% auto;
        padding: 2%;
        font-size: var(--font-m);
    }

    .btt-button span {
        margin: 0 auto;
    }
}

/* CABECERA Y PIE DE PAGINA */

@media screen and (max-width: 1000px) {
    #main-header, #main-footer {
        width: 90%;
    }

    #main-footer {
        margin: 0 auto;
    }

    #main-header h2 {
        display: none;
    }

    #dropdown {
        width: 100%;
        border: none;
    }

    #dropdown ul li:first-of-type {
        font-size: var(--font-s);
    }

    #dropdown ul li a {
        font-size: var(--font-l);
    }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
    #dropdown div:last-of-type {
        position: absolute;
        top: 5%;
        right: 50%;
        left: 50%;
        display: flex;
        justify-content: center;
    }

    #dropdown ul li:first-of-type {
        font-size: var(--font-s);
    }

    #dropdown ul li a {
        font-size: var(--font-m);
    }
}

/* SECCION HERO */

@media screen and (max-width: 1000px) {
    #hero-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 50%;
    }

    #hero-section > div:first-of-type {
        width: 80%;
    }

    #hero-section > div:last-of-type div:last-of-type {
        background-color: transparent;
        box-shadow: none;
    }

    #hero-section-content {
        text-align: center;
        width: 100%;
    }

    #hero-section > div:first-of-type a, #hero-section > div:first-of-type a:hover {
        transform: translateY(150px);
    }

    #hero-section > div:first-of-type a:hover {
        transform: translateY(150px) scale(1.1);
    }
}

/* SECCION HABILIDADES */

@media screen and (max-width: 1000px) {
    #skills-wrapper {
        flex-direction: column;
    }

    #skills-wrapper > div {
        width: 80%;
    }

    #skills-wrapper div {
        margin: 4% auto;
    }

    .project-tech img {
        width: 24px;
        height: 24px;
    }
}

/** SECCION DE PROYECTOS **/

@media screen and (max-width: 1000px) {
    #projects .project-card {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .project-card article {
        margin: var(--separation) auto;
        width: 80%;
    }
}

/** SECCION FORMACION Y EXPERIENCIA LABORAL **/ 

@media screen and (max-width: 1000px) {
    .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .exp-icon {
        display: none;
    }

    .experience article, .experience article:nth-child(2n+1) {
        text-align: center;
    }

    .experience article div:last-of-type {
        width: 100%;
    }
}
